body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
  width: 100%;
}
a {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 20px auto;
    display: table;
    width: 460px;
    text-align: center;
  }
a:hover:not(:disabled) {
    background-color: #0056b3;
}
button:hover:not(:disabled) {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.hidden {
    display: none;
  }

input[type="text"] {
    width: 378px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
p {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
ol {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    direction: rtl;
  padding-right: 50px;
}

ol li {
    margin: 5px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.quiz-options, .leaderboard {
    width: 45%;
}

.feedback {
  margin: 20px 0;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ff8f007d;
}

.feedback.correct {
    background-color: #d4edda;
    color: #155724;
}

.feedback.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}
