@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alarm-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 450px;
}

h1 {
    font-size: 2rem;
    color: #2d425e;
    margin-bottom: 20px;
}

.current-time {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #35506d;
}

.alarm-settings {
    margin-bottom: 20px;
}

.alarm-settings input[type="time"] {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-right: 10px;
}

.alarm-settings button {
    background-color: #2d3e50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.alarm-settings button:hover {
    background-color: #0056b3;
}

.alarm-actions {
    margin-top: 20px;
}

.alarm-actions button {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.alarm-actions button:hover {
    background-color: #e84118;
}

.hidden {
    display: none;
}

#alarmMessage {
    color: #e84118;
    font-size: 1.2rem;
    margin-top: 20px;
}